@(contain:List[Containers])

@main("Medications") {
<h2>New Medication</h2>
<form class="form-horizontal" action='@routes.Meds.createMed(Long.parseLong(session().get("user_id")))' method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="med_name">Name</label>
        <div class="col-sm-10">
            <input type="text" name="med_name" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="dosage">Dose</label>
        <div class="col-sm-10">
            <input type="text" name="dosage" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="freq">Hours to next dose</label>
        <div class="col-sm-10">
            <input type="text" name="freq" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="timeDaily">First Dose of the Day</label>
        <div class="col-sm-10">
            <input type="time" name="timeDaily" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="startDate">Date to begin Dispensing</label>
        <div class="col-sm-10">
            <input type="date" name="startDate" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="week">Days per week medication needed</label>
        <div class="col-sm-10">
            <input type="text" name="week" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="month">Weeks per Month needed</label>
        <div class="col-sm-10">
            <input type="text" name="month" class="form-control input-lg">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="con">Select Container</label>
        <div class="col-sm-10">
            <select name="con" id="contain" class="form-control input-lg">
                @for(c<-contain){
                    @if(c.empty == true){
                    <option value="@c.id">@c.id</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="pills">Pill Count Loaded to Container</label>
        <div class="col-sm-10">
            <input type="text" name="pills" class="form-control input-lg">
        </div>
    </div>

    <button class="btn btn-default btn-lg">Submit</button>
</form>
}