@(contain: Containers)

@main(""){
<div class="container">
    <h2>Edit Container</h2>
    <form class="form-horizontal" action='@routes.container.edit(contain.id)' method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="med_name">Name</label>
            <div class="col-sm-10">
                <input type="text" name="med_name" class="form-control input-lg" value="@contain.medication.name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dosage">Dose</label>
            <div class="col-sm-10">
                <input type="text" name="dosage" class="form-control input-lg" value="@contain.medication.dose">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="freq">Hours to next dose</label>
            <div class="col-sm-10">
                <input type="text" name="freq" class="form-control input-lg" value="@contain.medication.frequency">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="timeDaily">First Dose of the Day</label>
            <div class="col-sm-10">
                <input type="time" name="timeDaily" class="form-control input-lg">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="startDate">Date to begin Dispensing</label>
            <div class="col-sm-10">
                <input type="date" name="startDate" class="form-control input-lg">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="week">Days per week medication needed</label>
            <div class="col-sm-10">
                <input type="text" name="week" class="form-control input-lg" value="@contain.medication.perWk">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="month">Weeks per Month needed</label>
            <div class="col-sm-10">
                <input type="text" name="month" class="form-control input-lg" value="@contain.medication.perMnth">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pills">Pill Count Loaded to Container</label>
            <div class="col-sm-10">
                <input type="text" name="pills" class="form-control input-lg" value="@contain.pillCount">
            </div>
        </div>

        <button class="btn btn-default btn-lg">Submit</button>
    </form>
</div>
}